.DS_Store
*.DS_Store

*.pyc

sandbox
.idea

*.ipynb_checkpoints

pynn/

data/aedat
data/ball_images
data/more_images
data/mat
data/other

stdp/Results
stdp/Results-remote/
stdp/*.sh
stdp/weights.mat

temporaldifference/output.mat

results/figures
results/*.sh